.main{
    background-color:#ffffff;
}

.main header {
    background-color: black;
    height: 50px;
}
.header-logo

.header-search

.header-search_area

.header-search_icon {
}
.header-nav {

}

.header-nav_item

.header-nav_item

.header-nav_item

.header-nav_button